<!DOCTYPE html>
<html lang="uk" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="" style="text-align:center">
      <img src="https://img.freepik.com/free-vector/flat-ice-cream-collection_23-2148987753.jpg?size=338&ext=jpg&ga=GA1.1.1546980028.1704326400&semt=ais" alt="ice cream">

      
<form method="POST" accept-charset="utf-8" target="_blank" action="https://www.liqpay.ua/api/3/checkout">
  <input type="hidden" name="data" value="eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXkiLCJhbW91bnQiOiI1IiwiY3VycmVuY3kiOiJVQUgiLCJkZXNjcmlwdGlvbiI6ItCc0ZbQuSDRgtC+0LLQsNGAIiwicHVibGljX2tleSI6InNhbmRib3hfaTY3NDI3NzM2MzI3IiwibGFuZ3VhZ2UiOiJ1ayIsInNlcnZlcl91cmwiOiJodHRwczovL2FiY2FjZGV2bmVpcy5vbnJlbmRlci5jb20vIiwicmVzdWx0X3VybCI6Imh0dHBzOi8vd3d3Lm1jZ2F3Z3JhcGhpY3MuY29tL2NvbGxlY3Rpb25zL2FuZHktd2FyaG9sLWljZS1jcmVhbSJ9" />
  <input type="hidden" name="signature" value="zzqAXnDmgK5QS3kihJdt5LYJKP4=" />
  <button style="border: none !important; display:inline-block !important;text-align: center !important;padding: 5px 24px !important;
    color: #fff !important; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12); font-size:16px !important; line-height: 1.75 !important; font-weight: 600 !important; font-family: 'Open Sans', sans-serif; cursor: pointer !important; border-radius: 8px !important;
    background: #77CC5D !important;"onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
    <img src="https://static.liqpay.ua/buttons/logo-white.svg" name="btn_text"
      style="vertical-align: middle !important;"/>
    <span style="vertical-align:middle; !important; margin-left: 8px !important; ">Сплатити</span>
  </button>
</form>

      
      <span style="vertical-align:middle; !important; margin-left: 8px !important; ">Ви наш <%= buyers %> покупець!</span>
    </div>

  </body>
</html>
